*.bak
*.o
built/bin/expertn_bin*
built/bin/lib*
built/models/
built/cfg/
built/doc/
dev/.codelite/
dev/build/
dev/expertn50.workspace
dev/logfile.txt
dev/.lock*
dev/*.project
dev/waf-*
dev/.waf-*
gui/
xnmpmas/expertn_mpmasCplex_mpi
xnmpmas/expertn_mpmas_mpi

