<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/XN_tool/src/uni/hh/mapmaker/XN_tool_UI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uni.hh.mapmaker.XN_tool_UI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="updatefromrfs --rfs-in &quot;../scott/EC19.rfs&quot; --xnm-in &quot;../scott/EC1_soilparam_ww.xnm&quot; --xnd-in &quot;../scott/simob08.xnd&quot; --xnd-out test.xnd --xnm-out &quot;../checkme/test.xnm&quot; --weatherFn Ectest.xnw --start 100491 --end 090692"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="XN_tool"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/troost/Dropbox/XnFilemaker/FOR1695_XnFilemaker_v1/test"/>
</launchConfiguration>
